Lists
-----------
- Lists are used to store multiple data items in a single variable.
- lists are mutable
- Lists are represented by brackets[] and elements are seperated with commas

In [1]:
k1 = []

In [2]:
type(k1)

list

In [4]:
k1

[]

In [5]:
k2 = [1,2,3,4,5,89.76]
k2

[1, 2, 3, 4, 5, 89.76]

In [6]:
k2[0]

1

In [7]:
len(k2)

6

In [8]:
k2[5]

89.76

In [9]:
k2[1:4]

[2, 3, 4]

In [10]:
k1.append(67)

In [11]:
k1

[67]

In [12]:
k1.append("python")
k1.append(56.23)
k1

[67, 'python', 56.23]

In [14]:
k1.extend("a")
k1

[67, 'python', 56.23, 'a']

In [15]:
k2

[1, 2, 3, 4, 5, 89.76]

In [16]:
k1.append(k2)

In [17]:
k1

[67, 'python', 56.23, 'a', [1, 2, 3, 4, 5, 89.76]]

In [18]:
k1.extend(k2)

In [19]:
k1

[67, 'python', 56.23, 'a', [1, 2, 3, 4, 5, 89.76], 1, 2, 3, 4, 5, 89.76]

In [20]:
k1[4]

[1, 2, 3, 4, 5, 89.76]

In [21]:
k1.insert(2,78)

In [22]:
k1

[67, 'python', 78, 56.23, 'a', [1, 2, 3, 4, 5, 89.76], 1, 2, 3, 4, 5, 89.76]

In [25]:
k1[5].insert(3,"abc")

In [26]:
k1

[67,
 'python',
 78,
 56.23,
 'a',
 [1, 2, 3, 'abc', 'abc', 4, 5, 89.76],
 1,
 2,
 3,
 4,
 5,
 89.76]

In [28]:
k1[5][3]

'abc'

In [29]:
k = k1.copy()
k

[67,
 'python',
 78,
 56.23,
 'a',
 [1, 2, 3, 'abc', 'abc', 4, 5, 89.76],
 1,
 2,
 3,
 4,
 5,
 89.76]

In [30]:
k1.remove(4)

In [31]:
k1

[67,
 'python',
 78,
 56.23,
 'a',
 [1, 2, 3, 'abc', 'abc', 4, 5, 89.76],
 1,
 2,
 3,
 5,
 89.76]

In [34]:
k1[5].remove("abc")

In [35]:
k1

[67, 'python', 78, 56.23, 'a', [1, 2, 3, 4, 5, 89.76], 1, 2, 3, 5, 89.76]

In [36]:
k1.pop(2)

78

In [37]:
k1

[67, 'python', 56.23, 'a', [1, 2, 3, 4, 5, 89.76], 1, 2, 3, 5, 89.76]

In [38]:
k1.clear()

In [39]:
k1

[]

In [40]:
k1 = [1,2,3,2,1,3,4,1]
k1.count(1)

3

In [41]:
k1.index(4)

6

In [42]:
k1.index(1)

0

In [43]:
j1 = [23,5,67,123,90,12,4]
j2 = [56,258,3,45,0,999]

In [44]:
j1.sort()

In [45]:
j1

[4, 5, 12, 23, 67, 90, 123]

In [46]:
j2.sort(reverse=True)

In [48]:
j2

[999, 258, 56, 45, 3, 0]

In [49]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
del k1

In [51]:
k1

NameError: name 'k1' is not defined

In [52]:
h1 = input().split()
h1

1 2 3 4 5

['1', '2', '3', '4', '5']

In [55]:
d = input().split()
k = 0
for i in d:
    k = k + int(i)
print(k)

1 3 56 78
138

Tuples:
------------
- tuples are similar to list
- tuples are used to store multiple data
- represented by paranthesis and elements are seperated with commas
- tuples are immutable

In [56]:
t = (1,2,3,4,"list",987.45)
t

(1, 2, 3, 4, 'list', 987.45)

In [57]:
t[2]

3

In [58]:
t1 = "a","b","n","t",89,45

In [59]:
t1

('a', 'b', 'n', 't', 89, 45)

In [60]:
type(t1)

tuple

In [61]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [62]:
t

(1, 2, 3, 4, 'list', 987.45)

In [63]:
t.count(4)

1

In [64]:
t.index(3)

2

In [70]:
t = ("d","a","t","a"," ","a","n","a","l","y","s","i","s")
# data analysis
"".join(t)

'data analysis'

In [66]:
t1

('a', 'b', 'n', 't', 89, 45)

In [67]:
k1 = list(t1)
k1

['a', 'b', 'n', 't', 89, 45]

In [72]:
k1.remove('t')

In [69]:
t1 = tuple(k1)
t1

('a', 'b', 't', 89, 45)

1. unique list
2. take a list with even and odd numbers, seperate the even numbers into one list and odd numbers to another list
3. Parallel list sum
o1 = [10,20,30,40]
o2 = [50,60,70,80]
[60,80,100,120]