Dictionary:
-----------------
- Dicitionaries are used to store the collection of data
- dictionaries are unordered and mutable
- dictionaries are reprsented by {} and stores data as key : value pair
- keys should be unique

In [1]:
d = {}
type(d)

dict

In [2]:
d[1]="one"
d

{1: 'one'}

In [3]:
d["abc"] = [23,56]
d

{1: 'one', 'abc': [23, 56]}

In [4]:
d["abc"]

[23, 56]

In [5]:
d.keys()

dict_keys([1, 'abc'])

In [6]:
d.values()

dict_values(['one', [23, 56]])

In [7]:
d.items()

dict_items([(1, 'one'), ('abc', [23, 56])])

In [8]:
d.update({3:78})

In [9]:
d

{1: 'one', 'abc': [23, 56], 3: 78}

In [10]:
d.update({78.76:"float","int":369})
d

{1: 'one', 'abc': [23, 56], 3: 78, 78.76: 'float', 'int': 369}

In [11]:
d.update({3:"string"})
d

{1: 'one', 'abc': [23, 56], 3: 'string', 78.76: 'float', 'int': 369}

In [12]:
d.get('int')

369

In [13]:
h = {}
h.fromkeys("abc",0)

{'a': 0, 'b': 0, 'c': 0}

In [14]:
x = ("a","j","k")
h.fromkeys(x,76)

{'a': 76, 'j': 76, 'k': 76}

In [15]:
k = d.copy()
k

{1: 'one', 'abc': [23, 56], 3: 'string', 78.76: 'float', 'int': 369}

In [16]:
k.clear()

In [17]:
k

{}

In [18]:
d.setdefault(56)

In [19]:
d

{1: 'one', 'abc': [23, 56], 3: 'string', 78.76: 'float', 'int': 369, 56: None}

In [20]:
d.setdefault(23,14)

14

In [21]:
d

{1: 'one',
 'abc': [23, 56],
 3: 'string',
 78.76: 'float',
 'int': 369,
 56: None,
 23: 14}

In [23]:
d.setdefault(3,67)

'string'

In [24]:
d

{1: 'one',
 'abc': [23, 56],
 3: 'string',
 78.76: 'float',
 'int': 369,
 56: None,
 23: 14}

In [27]:
d.popitem()

(56, None)

In [28]:
d

{1: 'one', 'abc': [23, 56], 3: 'string', 78.76: 'float', 'int': 369}

In [29]:
d.pop(78.76)

'float'

In [30]:
d

{1: 'one', 'abc': [23, 56], 3: 'string', 'int': 369}

In [31]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [34]:
d1 = {1:2,4:5}
d2 = {3:6,9:23}
d3 = {5:67,2:36}
d = {}
for i in d1,d2,d3:
    d.update(i)
print(d)

{1: 2, 4: 5, 3: 6, 9: 23, 5: 67, 2: 36}

In [38]:
n = int(input("enter no of students"))
j={}
for i in range(n):
    rollno = input("enter rollno")
    name = input("enter name")
    branch = input("enter branch")
    j[rollno]=[name,branch]
print(j)

enter no of students2
enter rollno123
enter nameabc
enter branchcse
enter rollno234
enter namexyz
enter branchece
{'123': ['abc', 'cse'], '234': ['xyz', 'ece']}

In [42]:
n = int(input("enter no of items to be updated"))
for i in range(n):
    rollno = input("enter rollno to be updated")
    name = input("enter name")
    branch = input("enter branch")
    j.update({rollno:[name,branch]})
print(j)

enter no of items to be updated2
enter rollno to be updated234
enter namepython
enter branchIT
enter rollno to be updated123
enter nameProgramming
enter branchEEE
{'123': ['Programming', 'EEE'], '234': ['python', 'IT'], 'fghjk': ['h', 'j'], 'k': ['', '']}

In [43]:
rollno = input("enter roll no to be deleted")
j.pop(rollno)
print(j)

enter roll no to be deletedfghjk
{'123': ['Programming', 'EEE'], '234': ['python', 'IT'], 'k': ['', '']}

sets:
-------
- sets are used to store collection of data
- sets store unique values
- sets are unordered and unindexed
- sets are represented by braces

In [44]:
s = {1,2,3,4,2,3,4}
s

{1, 2, 3, 4}

In [45]:
s.add(35)

In [46]:
s

{1, 2, 3, 4, 35}

In [47]:
s1 = {23,45,"hi","string"}
s.update(s1)
s

{1, 2, 23, 3, 35, 4, 45, 'hi', 'string'}

In [48]:
s2 = s1.copy()
s2

{23, 45, 'hi', 'string'}

In [50]:
s2.pop()

45

In [51]:
s2

{23, 'hi'}

In [52]:
s1.remove(23)

In [53]:
s1

{45, 'hi', 'string'}

In [54]:
s

{1, 2, 23, 3, 35, 4, 45, 'hi', 'string'}

In [55]:
s.remove(35)

In [56]:
s

{1, 2, 23, 3, 4, 45, 'hi', 'string'}

In [57]:
s.clear()

In [58]:
s

set()

In [59]:
s1 = {"abc",125,"123"}
s2 = {"abc",125, 56}
s1.difference(s2)

{'123'}

In [60]:
s1

{'123', 125, 'abc'}

In [61]:
s1.difference_update(s2)

In [62]:
s1

{'123'}

In [63]:
s2.discard(56)
s2

{125, 'abc'}

In [64]:
n1 = {1,2,3,4,6,9}
n2 = {1,2,3,7,8,5}
n1.union(n2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
n1

{1, 2, 3, 4, 6, 9}

In [66]:
n1.intersection(n2)

{1, 2, 3}

In [67]:
n1.intersection_update(n2)
n1

{1, 2, 3}

In [68]:
n1,n2

({1, 2, 3}, {1, 2, 3, 5, 7, 8})

In [69]:
n1.issubset(n2)

True

In [70]:
n1.issuperset(n2)

False

In [71]:
n2.issuperset(n1)

True

In [72]:
n1.isdisjoint(n2)

False

In [73]:
k1 = {1,2,3,4}
k2 = {5,6,7,8}
k1.isdisjoint(k2)

True

In [74]:
s1 = {1,2,3,4,"green","blue","black"}
s2 = {"black",2,3,"white","red","football"}
s1.symmetric_difference(s2)

{1, 4, 'blue', 'football', 'green', 'red', 'white'}

In [75]:
s1

{1, 2, 3, 4, 'black', 'blue', 'green'}

In [76]:
s1.symmetric_difference_update(s2)
s1

{1, 4, 'blue', 'football', 'green', 'red', 'white'}

In [77]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']