In [1]:
k = "python"
i = 567
f = 23.78
k,i,f

('python', 567, 23.78)

In [2]:
k = 234

In [3]:
k

234

In [4]:
k1 = input("enter a value")

enter a value568

In [6]:
type(k1)

str

In [12]:
i1 = int(input("enter a value"))

enter a value34

In [9]:
type(i1)

int

In [10]:
f1 = float(input("enter a value"))
type(f1)

enter a value67.89

float

In [13]:
a = 1,2,3,89.76
type(a)

tuple

In [14]:
a = b = c = 45
x,y,z = 1,2,3

In [15]:
a,z

(45, 3)

In [17]:
x1 = int(input("enter a value"))
x2 = int(input("enter a value"))
print("addition",x1+x2)
print("Power",x1**x2)
print("Floor division",x1//x2)

enter a value5
enter a value2
addition 7
Power 25
Floor division 2

In [18]:
x = 10
y = 20
x>y   #<,<=,>,>=,==,!=

False

In [19]:
x<y and x!=y

True

In [20]:
x<y or x==y

True

In [21]:
not(x==y)

True

In [23]:
a = 2 # 0010
b = 3 # 0011
a|b   # 0011
a&b   # 0010

2

In [24]:
a^b # 0010
    # 0011
    # 0001

1

In [25]:
a>>2 # 0010

0

In [26]:
a<<2 # 0010 --> 1000

8

In [27]:
x = 10
x is 5

False

In [28]:
x is not 5

True

In [30]:
g = 55
f = 78
g is f

False

In [31]:
g is not f

True

In [29]:
k = "string"
'o' in k

False

In [32]:
'o' not in k

True

In [33]:
k1 = [1,2,3,4,6]
5 in k1

False

In [34]:
6 in k1

True

In [35]:
6 not in k1

False

Conditional Statements
----------------------------------
- Based on condition statements are executed
- if
     - if the condition is true, then the statements present inside if will execute
- if else
    - if the condition is true, then the statements present inside if will execute and
    if the condition is false, then the statements present inside else will execute
- elif
    - elif is nothing but else which allows users to check no of conditions
- Nested if

In [ ]:
# if else elif syntax
if condition:
    statement1
    statement2
elif condition:
    statements
else:
    statements

In [36]:
n = int(input("enter a value"))
if n>0:
    print("positive number")
elif n == 0:
    print("equal to zero")
else:
    print("negative number")

enter a value-4
negative number

In [39]:
uname = "Python"
pwd = "12345"
username = input("enter username")
if username == uname:
    password = input("enter password")
    if password == pwd:
        print("welcome "+ username)
    else:
        print("invalid password")
else:
    print("invalid username")

enter usernameeghj
invalid username

1. To check whether a year is leap year or not
2. convert celsius to fahrenhit and viceversa