Loops:
---------
- Loops are used for iterating over a sequence of code

In [ ]:
# range(start,stop,step) - start = 0 and step = 1 and stop-1
# for syntax
for i in range(n):
    statements

In [5]:
for i in range(1,21):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
for i in range(1,51,4):
    print(i,end=" ")

1 5 9 13 17 21 25 29 33 37 41 45 49

In [7]:
for i in range(50,-1,-4):
    print(i,end=" ")

50 46 42 38 34 30 26 22 18 14 10 6 2

In [8]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [10]:
for j in range(0,11,2):
    print(j)

0
2
4
6
8
10

In [11]:
s = "Data Analysis"
for i in s:
    print(i)

D
a
t
a

A
n
a
l
y
s
i
s

In [12]:
for i in range(len(s)):
    print(s[i])

D
a
t
a

A
n
a
l
y
s
i
s

In [14]:
# 4 * 1 = 4
# 4 * 2 = 8
# 4 * 10 = 40
n = int(input("enter n value"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n value4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [15]:
t = 0
for i in range(1,11):
    t = t + i
print(t)

55

In [16]:
# A program to find sum of the digits 
# To check whether a number is palindrome or not
# rows = 5
# *
# * *
# * * *
# * * * * 
# * * * * *

In [ ]:
# while syntax
while condition:
    statements

In [17]:
i = 1
while i<=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [18]:
s = 0
start = 1
while start<=10:
    s += start
    start +=1
print(s)

55

In [19]:
st = "Training courses"
for i in st:
    if i == "u":
        break
    else:
        print(i)

T
r
a
i
n
i
n
g

c
o

In [20]:
st = "Training courses"
for i in st:
    if i == "u":
        continue
    else:
        print(i,end=" ")

T r a i n i n g   c o r s e s

Functions:
-------------------
- A group of statements or a block of code which performs a specific task
- Pre defined Functions
    - print,int,input,float,str,range,list,tuple,dict,min,max,abs,sum,chr,ord
- User Defined functions

In [21]:
chr(97)

'a'

In [22]:
chr(65)

'A'

In [23]:
chr(32)

' '

In [25]:
chr(48)

'0'

In [26]:
ord("D")

68

In [27]:
ord("9")

57

In [28]:
ord("$")

36

In [31]:
m1 = "this isa string78#NO"
min(m1),max(m1)

(' ', 't')

In [32]:
m = 1234
min(m)

TypeError: 'int' object is not iterable

In [33]:
a = abs(-987)
a

987

In [34]:
li = [1,2,3,4,5]
sum(li)

15

In [ ]:
# function syntax
def functionName(arg1,arg2):
    statements
    
functionName(arg1,arg2)

In [35]:
def Example(m):
    print(m)

m = input("enter a value")
Example(m)

enter a valuepython
python

In [36]:
Example(input("enter"))
Example("Functions")

enterwelcome
welcome
Functions

Types of arguments in functions:
-----------------------------------------------
1. Required arguments
    - the no of arguments present in function call should exactly match with function definition
2. Keyword arguments
    - when we use the keyword arguments in a function call, caller identifies the parameter name.
    - python interpreter is able to use the keywords provided to match the values with parameter
3. Default arguments
    - A Default argument is a  argument that assumes a default value if a value is not provided or mentioned in th function call
4. variable length arguments
    - when we have a need to accept many values from the user for a argument then we use this variable length argument. An astriek(*) is placed before the argument which holds all the values and returns in a tuple.

In [41]:
def add(a,b):
    print(a+b)
    return a+b
    print("this print doesnt display")

add(int(input("enter a value")),int(input("enter b value")))

enter a value59
enter b value61
120

120

In [43]:
def student(name,rollno,branch):
    print(name)
    print(rollno,branch)

student(rollno=35,name = "student",branch="ECE")

student
35 ECE

In [44]:
def defaultargs(a=120,b=78,c="string"):
    print(a)
    print(b)
    print(c)

In [46]:
defaultargs(34)

34
78
string

In [47]:
defaultargs(1,2,3)

1
2
3

In [50]:
def Sample(a,b,*c):
    print(a,b)
    print(c)
    
Sample(1,2,3,4,98,5,6,69,78.90,7,56,23,14)

1 2
(3, 4, 98, 5, 6, 69, 78.9, 7, 56, 23, 14)

In [51]:
def fact(n):
    f = 1 
    for i in range(1,n+1):
        f *= i
    return f
    
n = int(input("enter n value"))
fact(n)

enter n value5

120

In [52]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n-1)
    
    
n = int(input("enter n value"))
factorial(n)

enter n value5

120

1. print("1.add 2.sub")
2. program to find factors of a number
3. program to check whether a number is armstrong or not